<!-- Home Banner -->
<section
  class="page-title bg-gray-1"
  style="background-image: url(static/img/bg-1.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 white-color text-center">
        <h1>Mentorship</h1>
        <ol class="breadcrumb justify-content-center">
          <li><a href="/index">Home</a></li>
          <li class="active">Mentorship</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- End Home Banner -->
<!-- Start Mentoship Section -->
<section class="section mentorship-section gray-bg">
  <div class="container">
    <div class="row justify-content-center section-title text-center">
      <div class="col-lg-7">
        <h3 class="font-alt">I haven't met you, and this is crazy...</h3>
        <p>But if you need a mentor, then email me maybe.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <figure class="image">
          <img class="is-bottom mentor" src="static/img/mentorship.svg" />
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="mentorship-pricing">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Being a designer/developer is tough.</h1>
        <p>
          It seems like every other day there's a new design trend to learn,
          tool to master, and endless design-related articles to read. Honestly,
          it can be overwhelming and intimidating. I know because I've walked
          more than a few miles in those shoes. So whether you're new to the
          field or simply looking for some guidance and support, I can help.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Pricing -->
<section class="pricing mt-n111">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-4 col-sm-12">
        <div class="feature-box-01 text-center">
          <div class="icon m-auto"><i class="ti-flag"></i></div>
          <h1 class="p-title text-center my-3">Spot Mentoring</h1>
          <h2 class="p-title price my-3">$150</h2>
          <p>
            1 hour of candid conversation and advice as needed with no long term
            commitment required.
          </p>
          <p class="">Good for:</p>
          <p>Makers and design enthusiasts</p>
          <div class="btn-bar mt-4">
            <a class="px-btn px-btn-theme" href="#contactus">
              Improve your chops
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="feature-box-01 text-center">
          <div class="icon m-auto"><i class="ti-flag"></i></div>
          <h1 class="p-title text-center my-3">
            Freelancers and solo designers
          </h1>
          <h2 class="p-title price my-3">$1200</h2>
          <p>
            12 hours of professional coaching and collaboration to help you
            achieve long term goals and ambitions.
          </p>
          <p class="">Good for:</p>
          <p>Keeners and career switchers</p>
          <div class="btn-bar mt-4">
            <a class="px-btn px-btn-theme" href="#contactus">
              Start your journey
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="feature-box-01 text-center">
          <div class="icon m-auto"><i class="ti-flag"></i></div>
          <h1 class="p-title text-center my-3">Production Support</h1>
          <h2 class="p-title price my-3">$500</h2>
          <p>
            4 hours of targeted feedback and design critique to help you focus
            on delivering your best work.
          </p>
          <p class="">Good for:</p>
          <p>Makers and design enthusiasts</p>
          <div class="btn-bar mt-4">
            <a class="px-btn px-btn-theme" href="#contactus">
              Book a Session
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Unsure of what design mentoring entails?</h2>
        <p>
          Schedule a free consultation to ask questions, discuss details, and
          decide if it's a fit.
        </p>
        <div class="btn-bar mt-4">
          <a class="px-btn px-btn-theme" href="#contactus"> Let's Talk </a>
        </div>
      </div>
    </div>
  </div>
</section>
